@import "./fonts";
@import "./_reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Saira Extra Condensed', sans-serif !important;
  scroll-behavior: smooth;
}

@layer utilities {
  .scrollbarX::-webkit-scrollbar {
    width: 10px;
    height: 3.5px;
    cursor: pointer;
  }

  .scrollbarX::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbarX::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 100vh;
  }

  .scrollbarY::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  @apply h-1 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-[#f1f1f1] dark:bg-darkBase;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-[#bec6cb];
}

span:has(> span.hardZindex) {
  z-index: 40;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.hiddenScrollBar::-webkit-scrollbar-track {
  @apply bg-transparent lg:hover:bg-[#f1f1f1] lg:dark:bg-darkBase;
}

.hiddenScrollBar::-webkit-scrollbar-thumb {
  @apply bg-transparent lg:hover:bg-[#bec6cb];
}

.hiddenScrollBarSpot::-webkit-scrollbar-track {
  @apply bg-transparent hover:bg-[#f1f1f1] dark:bg-[#181A1F];
}

.hiddenScrollBarSpot::-webkit-scrollbar-thumb {
  @apply bg-transparent hover:bg-[#bec6cb];
}

.textHiddenScrollBar::-webkit-scrollbar-track {
  background: transparent;
}

.textHiddenScrollBar::-webkit-scrollbar-thumb {
  background: transparent;
}

.textHiddenScrollBar:hover::-webkit-scrollbar-track {
  background: transparent;
}

.textHiddenScrollBar:hover::-webkit-scrollbar-thumb {
  background: transparent;
}
